<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <!--进入贴吧的地址，参数后跟贴吧名称，进入具体的贴吧-->
    <add key="TieBaUrl" value="http://tieba.baidu.com/f?kw=" />
    <!--贴吧用户的地址，通过该地址可查看用户的发帖纪录 -->
    <add key="TieBaUser" value="http://tieba.baidu.com/i/{0}/thread" />
    <!--replace all exist images?-->
    <add key="ReplaceAllImages" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
   </appSettings>
</configuration>
